@media screen and (min-width: 768px) {
    .column {
        width: 300px;
        float: left;
        padding: 20px;
    }
}

@media screen and (max-width: 768px) and (min-width: 600px) {
    body {
        background-color: #000000;
        color: #ffffff;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-color: #008080;
        color: #ffffff;
    }
}